<div class="container-fluid mt-4">
  <div class="row justify-content-left">
    <div class="col-12 col-md-8">
      <table class="table table-striped table-bordered">
        <thead class="table-secondary">
          <tr>
            <th class="h4">#</th>
            <th class="h4">Nombre Común</th>
            <th class="h4">Tipo</th>
            <th class="h4">Clima</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let p of plants">
            <td>{{ p.id }}</td>
            <td>{{ p.nombre_comun }}</td>
            <td>{{ p.tipo }}</td>
            <td>{{ p.clima }}</td>
          </tr>
        </tbody>
      </table>
      <div class="text-left mt-4">
        <p class="h5">Total Plantas de Interior: {{ contarPlantasInteriores() }}</p>
        <p class="h5">Total Plantas de Exterior: {{ contarPlantasExteriores() }}</p>
      </div>
    </div>
  </div>
</div>
